.small-box {
    padding: 5px 10px;
    font-size: 16px;
}

.danger {
    color: #b50000;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

main div {
    width: 50vw;
}

.quantity-btn {
    width: 15%;
}

.item-and-date {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.item-and-date i {
    font-size: 10px;
}


@media only screen and (max-width: 600px) {
    main {
        flex-direction: column;
        justify-content: space-between;
    }

    main div {
        width: 100vw;
    }
    
    .quantity-btn {
        width: 15%;
    }
}