body {
  margin: 0;
  /* font-family: 'Courier Prime', monospace; */
  
  
  /* font-family: 'Space Mono', monospace; */
}

h1, h2, h3, h4, h5, h6 { font-family: 'Source Sans Pro', sans-serif; }

p {
  font-family: 'PT Mono', monospace;
}

span {
  font-family: 'IBM Plex Mono', monospace;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
